.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e7dfdc;
}

.header {
    flex-basis: 60px;
    background-color: #eeeeee;
    box-shadow: 2px 0px 2px #ccc;
    display: flex;
    justify-content: space-between;
}

.avatarSection {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
}

.picture {
    vertical-align: middle;
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.nameSection {
    color: gray;
    font-weight: 500;
    flex-grow: 1;
    padding-left: 10px;
    //vertical-align: middle;
    align-items: center;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
}

.icon {

    vertical-align: middle;
}

.body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 50px;

}


.footer {
    background-color: #e0e0e0;
    box-shadow: 2px 0px 2px #ccc;
    flex-basis: 50px;
    display: flex;
    flex-direction: row;
}

.smileyIcon {
    flex-basis: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.micIcon {
    flex-basis: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

textarea {
    width: 100%;
    height: 30px;
    border: 0px;
    border-radius: 4px;
    resize: none;
    outline: none;
    padding: 7px;
    box-sizing: border-box;
    color: rgb(48, 45, 45);

}

::placeholder {
    color: #acabaa;
}

.me {
    align-self: flex-end;
    background-color: #dcf8c6;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: gray;
    display: flex;
    flex-direction: row;
    max-width: 90%;
}

.you {
    align-self: flex-start;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: gray;
    display: flex;
    flex-direction: row;
    max-width: 90%;
}

.messageContent {
    max-width: 100%;
    padding-right: 10px;
    word-wrap: break-word;
    overflow: auto;
}

.time {
    text-align: right;
    color: #a2a3a4;
    font-size: 10px;
    margin-top: 5px;
    word-wrap: break-word;
}